<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gwell.iotvideodemo">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".videoplayer.PlaybackPlayerActivity"></activity>
        <activity android:name=".videoplayer.IjkPlayerActivity" />
        <activity android:name=".videoplayer.ExoPlayerActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.gwell.iotvideodemo.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/MainActivity" />
        <activity android:name=".test.preview.CameraActivity" />
        <activity
            android:name=".test.TestWebApiActivity"
            android:label="@string/start_web_api_activity" />
        <activity
            android:name=".test.TestQRCodeActivity"
            android:label="@string/qrcode" />
        <activity
            android:name=".videoplayer.MonitorPlayerActivity"
            android:label="@string/player" />
        <activity
            android:name=".videoplayer.CustomCaptureActivity"
            android:theme="@style/AppNoActionBarTheme" />
        <activity
            android:name=".videoplayer.CustomCaptureActivity2"
            android:theme="@style/AppNoActionBarTheme" />
        <activity android:name=".accountmgr.login.LoginActivity" />
        <activity
            android:name=".netconfig.NetConfigActivity"
            android:label="@string/net_config"
            android:theme="@style/AppNoActionBarTheme" />
        <activity
            android:name=".netconfig.PrepareNetConfigActivity"
            android:label="@string/net_config" />
        <activity
            android:name=".accountmgr.devicemanager.DeviceManagerActivity"
            android:label="@string/device_manager" />
        <activity
            android:name=".accountmgr.deviceshare.DeviceShareActivity"
            android:label="@string/device_share"
            android:theme="@style/AppNoActionBarTheme" />
        <activity
            android:name=".messagemgr.DeviceMessageActivity"
            android:label="@string/device_model" />
        <activity
            android:name=".vas.VasActivity"
            android:label="@string/vas" />
    </application>

</manifest>