<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tencentcs.iotvideodemo">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".DemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tencentcs.iotvideodemo.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".WelcomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/MainActivity" />
        <activity
            android:name=".videoplayer.MonitorPlayerActivity"
            android:label="@string/player" />
        <activity android:name=".accountmgr.login.LoginActivity" />
        <activity
            android:name=".netconfig.NetConfigActivity"
            android:label="@string/net_config"
            android:theme="@style/AppNoActionBarTheme" />
        <activity
            android:name=".netconfig.PrepareNetConfigActivity"
            android:label="@string/net_config" />
        <activity
            android:name=".accountmgr.deviceshare.DeviceShareActivity"
            android:label="@string/device_share"
            android:theme="@style/AppNoActionBarTheme" />
        <activity
            android:name=".messagemgr.DeviceMessageActivity"
            android:label="@string/device_model" />
        <activity
            android:name=".vas.CloudStorageActivity"
            android:label="@string/cloud_storage" />
        <activity
            android:name=".videoplayer.MultiMonitorPlayerActivity"
            android:label="@string/player" />
        <activity
            android:name=".accountmgr.devicemanager.DeviceOTAActivity"
            android:label="@string/device_ota" />
        <activity
            android:name=".videoplayer.PlaybackPlayerActivity"
            android:label="@string/local_playback" />
        <activity
            android:name=".videoplayer.ijkplayer.IjkPlayerActivity"
            android:label="IjkPlayer" />
        <activity
            android:name=".videoplayer.ExoPlayerActivity"
            android:label="ExoPlayer" />
        <activity
            android:name=".videoplayer.LocalAlbumActivity"
            android:label="@string/local_album" />
        <activity
            android:name=".messagemgr.MessageBoxActivity"
            android:label="@string/message_box" />
        <activity
            android:name=".videoplayer.TransmissionConnectionActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/transmission_connection"/>
    </application>

</manifest>